transformers
cython
opencv-python
scipy
einops
lvis
fairscale
git+https://github.com/facebookresearch/detectron2@017abbf
git+https://github.com/IDEA-Research/detrex@776058e
git+https://github.com/openai/CLIP.git@d50d76d
git+https://github.com/shenyunhang/ape
